:root {
  --preto: #121212;
  --branco: #ffffff;
  --cinza-claro: #eaeaea;
  --cinza-medio: #b0b0b0;
  --cinza-escuro: #2e2e2e;

  --vermelho-profundo: #b22222;
  --azul-petroleo: #264653;
  --azul-claro: #5dade2;
}


@font-face {
    font-family: ola;
    src: url("src/font/Kingdom\ -\ Pixel\ Font\ v1_3.ttf") format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: var(--branco);
  font-family: monospace;
  color: var(--preto);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex: 1;
}

/* Tipografia */
h2 {
  color: var(--azul-petroleo);
  margin-bottom: 10px;
}

p {
  color: var(--preto);
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Header */
header {
  display: flex;
  background-color: var(--azul-petroleo);
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0px 0px;
}

.flaticon img {
  width: 60px;
}

.butoes {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: ola;
}

nav.butao button {
  background: none;
  border: none;
  color: var(--branco);
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

nav.butao button:hover {
  color: var(--vermelho-profundo);
  transform: scale(1.3);
}

/* Seções */
#home, #projetos {
  background-color: var(--cinza-claro);
  padding: 20px;
}

#sobre, #contato {
  background-color: var(--branco);
  padding: 20px;
}

#home,
#sobre,
#projetos,
#contato {
  scroll-margin-top: 70px;
  margin-top: 70px;
}

/* SPA Pages */
.page {
  display: none;
}

.page.active {
  display: block;
}

/* Footer */
footer {
  background-color: var(--cinza-escuro);
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: small;
  color: var(--branco);
  padding: 10px;
}

/* Interações visuais */
img:hover {
  border: 2px solid var(--vermelho-profundo);
  transition: border 0.3s ease;
}
